body {
    margin: 0;
}


/* Navbar */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 160px;
    list-style-type: none;
    background-color: #d33a2c;
}

.navbar-img {
    height: 3rem;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.navbar-item-description {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.navbar-item-description:hover {
    color: black;
}

.navbar-img {
    height: 2.5rem;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: transform 0.2s ease-in-out;
}

.navbar-item:hover .navbar-img {
    transform: rotate(0);
    transform-origin: bottom left;
}

.smashing-img {
    height: 5rem;
}

.topics-input {
    display: flex;
    margin-right: 30px;
}

.nav-input {
    padding: 17px;
    padding-left: 30px;
    border: 4px solid white;
    border-radius: 8px;
    width: 130px;
    background-color: transparent;
    outline: none;
}

.nav-input::placeholder {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 21px;
    color: white;
}

.fa-search {
    display: block;
    position: absolute;
    margin-left: 15px;
    margin-top: 17px;
    color: white;
}