body {
    margin: 0;
}


/* Navbar */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    list-style-type: none;
    background-color: #d33a2c;
}

.navbar-img {
    height: 3rem;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership-img {
    height: 3.5rem;
}

.smashing-img {
    height: 5rem;
}

.topics-input {
    display: flex;
    align-items: center;
}

.fa-search {
    position: absolute;
}